.header {
    display: grid;
    grid-area: header;
    grid-template: 100px / 1fr minmax(auto, 300px) minmax(auto, 900px) 1fr;
    align-items: center;
    background-color: mediumseagreen;
}

.header__logo {
    display: grid;
    grid-column: 2/3;
}

.menu {
    display: grid;
    grid-column: 3/4;
}