.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.content img{
    height: 250px;
}

.add_post{
    display: flex;
    width: 40%;
    flex-direction: column;
}

.add_post > button{
    margin-top: 5px;
}