.wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: "header header" "nav c" "footer footer";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.content{
  background-color: rgb(215, 215, 255);
}